doctype html
html
  head
    title Ultimate TicTacToe AI
    link(rel='stylesheet', href='./styles.css')

    script.
        // jquery library
        window.$ = window.jQuery = require('jquery');

        // ultimate tictactoe ai
        window.uTicTacToe = require('ultimate-tictactoe-ai');
        //window.uTicTacToe = require('../Node Addon API Integration/exports')

    script(src='controller.js')
    script(src='game.js')
  body

    // options
    //p Choose your player
    //button(onclick="playerNum = 1; updatePlayer()") X
    //button(onclick="playerNum = 2; updatePlayer()") O
    p Selected player #[strong.playerChar X]

    center.ms-fontSize-28 Score: #[strong.eval-num 0]
    // render buttons
    #gameboard-area
        - for(var row = 0; row < 3; row++)
            - for(var col = 0; col < 3; col++)
                .gameboard-quadrant(class='gameboard-quadrant-row-' + row + ' gameboard-quadrant-col-' + col)
                    - for(var subRow = 0; subRow < 3; subRow++)
                        - for(var subCol = 0; subCol < 3; subCol++)
                            button.gamebutton(class='gamebutton-row-' + row + ' gamebutton-col-' + col +
                            ' gamebutton-subRow-' + subRow + ' gamebutton-subCol-' + subCol)=" "
                        br
            br

    p#app-version-number Version Number 0.0.1